<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ app_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="demo-headline">
        <h1 class="demo-logo">
            {{ app_name }}
            <small>A Certificate Authority</small>
        </h1>
    </div>

    {% block navigation %}
        <div class="row demo-row">
            <div class="span12">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar"
                                    data-toggle="collapse"
                                    data-target="#nav-collapse-01"></button>
                            <div class="nav-collapse collapse"
                                 id="nav-collapse-01">
                                <ul class="nav">
                                    <li id="menu_certificate">
                                        <a href="{% url 'list' choice='certificate' %}">
                                            Certificates
                                        </a>
                                    </li>
                                    <li id="menu_csr">
                                        <a href="{% url 'list' choice='csr' %}">
                                            Requests
                                        </a>
                                    </li>
                                    <li id="menu_private_key">
                                        <a href="
                                        {% url 'list' choice='private_key' %}">
                                            Private Keys
                                        </a>
                                    </li>
                                    <li id="menu_login">
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'logout' %}">
                                                Logout {{ user }}
                                            </a>
                                        {% else %}
                                            <a href="{% url 'login' %}">
                                                Login
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <!--/.nav -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block content %}
        <div class="row demo-row">
            <div class="span12">
                <p>
                    lorem ipsum
                </p>

            </div>
        </div>
    {% endblock %}
    <!-- /container -->

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="span10">
                        <h3 class="footer-title">License</h3>

                        <h4>Copyright &copy; 2013 Kimmo Parviainen-Jalanko</h4>

                        <p class="pvl">
                            Permission is hereby granted, free of
                            charge, to any person obtaining a copy
                            of this software and associated
                            documentation files (the "Software"),
                            to deal in the Software without
                            restriction, including without limitation
                            the rights to use, copy, modify, merge,
                            publish, distribute, sublicense, and/or
                            sell copies of the Software, and to
                            permit persons to whom the Software is
                            furnished to do so, subject to the
                            following conditions:
                        </p>

                        <p class="pvl">
                            The above copyright notice and this
                            permission notice shall be included in
                            all copies or substantial portions of
                            the Software.
                        </p>

                        <p class="pvl">
                            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT
                            WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
                            INCLUDING BUT NOT LIMITED TO THE
                            WARRANTIES OF MERCHANTABILITY, FITNESS
                            FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
                            IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
                            HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES
                            OR OTHER LIABILITY, WHETHER IN AN ACTION
                            OF CONTRACT, TORT OR OTHERWISE, ARISING
                            FROM, OUT OF OR IN CONNECTION WITH THE
                            SOFTWARE OR THE USE OR OTHER DEALINGS
                            IN THE SOFTWARE.
                        </p>

                    </div>
                    <!-- /span8 -->

                    <div class="span2">
                        <p>
                            <a href="https://github.com/kimvais/nimismies">
                                <img alt="Nimismies on GitHub"
                                     src="/static/images/GitHub-Mark-64px.png">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
</div>
<!-- Load JS here for greater good =============================-->
<script src="/static/js/jquery-1.8.3.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-select.js"></script>
<script src="/static/js/bootstrap-switch.js"></script>
<script src="/static/js/flatui-checkbox.js"></script>
<script src="/static/js/flatui-radio.js"></script>
<script src="/static/js/jquery.tagsinput.js"></script>
<script src="/static/js/jquery.placeholder.js"></script>
<script src="/static/js/jquery.stacktable.js"></script>
<script src="/static/js/application.js"></script>
<script src="/static/js/jquery-jsforms.js"></script>
<script>
    $('li#menu_{{ choice }}').addClass('active');
</script>
</body>
</html>
