{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="span12">
            <table class="table-bordered table-striped table-hover table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Private key
                    </th>
                    <th>
                        Subject
                    </th>
                    <th>
                        Issuer
                    </th>
                    <th>
                        Created
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for obj in object_list %}
                    <tr>
                        <th>{{ obj.pk }}</th>
                        <td>{{ obj.private_key }}</td>
                        <td>{{ obj.owner.dn }}</td>
                        <td>{% if obj.issuer %}
                            {{ obj.issuer }}
                        {% else %}
                            self-signed
                        {% endif %}</td>
                        <td>{{ obj.created.isoformat }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}