{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <table class="table-bordered table-striped table-hover table">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                   Bits
                </th>
                <th>
                    Type
                </th>
                <th>
                    Created
                </th>
            </tr>
            </thead>
            <tbody>

                {% for obj in object_list %}
                    <tr>
                        <th>{{ obj.pk }}</th>
                        <td>{{ obj.bits }}</td>
                        <td>{{ obj.key_type }}</td>
                        <td>{{ obj.created.isoformat }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'create_private_key' %}">Create</a>
        </div>
    </div>
{% endblock %}